html {
  background-color: #000;
}

.App {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.music-player-wrapper {
  margin-bottom: 50px;
}

.playlist-wrapper {
  margin-bottom: 50px;
}


.home-page-content {
  font-family: 'Padauk', sans-serif;
}

.container {
  max-width: 80%;
}

footer {
  background-color: honeydew;
  color: #000;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}